body{
margin: 0;
padding: 0;
background-image: url("imagem/Imagem2.jpg");
background-repeat: none;
background-size: 100%;
}

.container {
position: relative;
}

.container {

 opacity: 90%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-danger{
    color: white;
    background-color: hotpink;
    position: absolute;
    font-size: 32px;
    right: 25px;

}

.cursos{
text-align: center;
}

.cursos .cards {
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
padding: 50px 0;
top: 900px;
}

.cursos .cards img {

width: 45%;

}
.container .video {
    top: 500px;
    left: 10px;
}
    
